html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url(./img/background.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  background: #1d4431;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

input {
  font-size: 18px;
  font-weight: 400;
  background: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: #1d4431;
  border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
  background: white;
  border: 3px solid #1d4431;
  outline: none;
}

.container {
  width: 450px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
}

.todo-item {
  margin: 0;
  padding: 0;
  font-weight: 300;
  background: white;
  height: 40px;
  line-height: 40px;
  color: #666;
}

.todo-item:nth-of-type(2n) {
  background: #f7f7f7;
}

.delete-btn span {
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

.delete-btn:hover span {
  width: 40px;
  opacity: 1.0;
}

/* .fa-plus {
  float: right;
} */

@media (min-width: 1000px) {
  h1 {
      font-size: 3em;    
  }
  
  .container {
      width: 850px;
  }
}